
  @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600;700&display=swap');

/* font-family: 'IBM Plex Sans', sans-serif; */
/* font-colors: #eaecef */
/* nav-font-size: 14px */
/* nav bg-: #181a20 */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav-link:hover{
  color: #f0b90b !important;
}
.usd{
  border-right: 1px solid #eaecef !important;
  border-left: 1px solid #eaecef !important;
}
.regbtn{
  height: 32px !important;
  width: 75px !important;
  font-size: 14px !important;
}
.regbtn:hover{
  background-color: #fcd535 !important;
}

.head{
  width: 100%;
  height: auto;
  background-color: #0b0e11;
}
.header{
  height: auto;
  width: 100%;
  /* border: 1px solid lightblue; */
  margin: auto auto auto auto;
  display: flex;
  padding: 40px 20px 20px 20px;
}
.leftbar{
  height: auto;
  width: 50%;
  /* border: 1px solid yellow; */
  padding: 80px 0px 80px 60px;
}
.leftbar h1{
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 700;
  color: #eaecef;
  padding-bottom: 30px;
}
.leftbar a{
  text-decoration: none;
  color: #eaecef;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 20px;
  display: block;
}
.buntn{
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 15px;
  font-weight: 600;
  height: 45px;
  width: 63%;
  color: #0b0e11;
  border-radius: 4px;
  background-color: #fcd535;
  border: none;
  margin-top: 30px;
}
.buntn:hover{
  background-color: #fcd435ce;
}
.linebar{
  display: flex;
  margin-top: 20px;
}
.line1{
  background-color: #848e9c;
  height: 1px;
  width: 124px;
  margin-top: 13px;
}
.linecontent{
  padding: 0px 2px 0px 2px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 16px;
  font-weight: 500px;
  color: #848e9c;
}
.line2{
  background-color: #848e9c;
  height: 1px;
  width: 124px;
  margin-top: 13px;
}
.appbtns{
  display: flex;
  gap: 10px;
  margin-top: 20px;
}
.googlebtn{
  height: 48px;
  width: 180px;
  border: none;
  border-radius: 4px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 15px;
  font-weight: 600;
  background-color: #474d57;
  color: #eaecef;
}
.applebtn{
  height: 48px;
  width: 180px;
  border: none;
  border-radius: 4px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 15px;
  font-weight: 600;
  background-color: #474d57;
  color: #eaecef;
}
.rightbar{
  height: auto;
  width: 50%;
  /* border: 1px solid rgb(255, 115, 0); */
  padding: 80px 0px 80px 60px;
  flex-wrap: wrap;
}
.rightbar img{
  height: 440px;
  width: 90%;
}
.center{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  padding: 0px 40px 40px 40px;
}
.typo1{
  width: 240px;
  display: block;
}
.typo1 h2{
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 40px;
  font-weight: 700;
  color: #eaecef;
}
.typo1 p{
  font-size: 16px;
  color: #eaecef;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 300;
}
.picside{
  width: 100%;
  height: auto;
  background-color:#181a20;
  border-top-right-radius: 24px;
  border-top-left-radius: 24px;
  padding-top: 40px;
}
.pic{
  height: 300px;
  width: 100%;
  margin: 0px auto 0px auto;
  padding: 0px 70px;
}
.linkpic{
  width: 100%;
  height: 300px;
  border-radius: 20px;
}
.tablebar{
  width: 100%;
  height: auto;
}
.hding{
  display: flex;
  padding: 100px 70px 50px 70px ;
  align-items: center;
}
.hding h1{
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 40px;
  font-weight: 600;
  color: #eaecef;
}
.hding a{
  margin-left: 550px;
  color: #848e9c;
  text-decoration: none;
  font-weight: 500;
}
.hding a:hover{
  color: #f0b90b;
}
.table{
  padding: 0px 70px 0px 70px;
  display: block;
}
.table .tablehding{
  list-style: none;
  display: flex;
  justify-content: space-between;
  color: #848e9c ;
  font-size: 14px;
  padding: 16px;
}
.table ul{
  list-style: none;
  display: flex;
  padding: 1px;
}
.table li{
  display: flex;
  align-items: center;
  color: #848e9c;
}
.logo1{
  height: 52px;
  width: 52px;
}
.bold{
  color: #eaecef;
  font-size: 14px;
}
.firstrow:hover{
  background-color: #2b3139;
  border-radius: 4px;
  cursor: pointer;
}

.start{
  padding: 30px 70px 70px 70px;
}
.start h2{
  font-size: 24px;
  font-family: 'IBM Plex Sans', sans-serif;
  color: #eaecef;
  font-weight: 700;
}
.start button{
  width: 200px;
  height: 48px;
  border: none;
  font-family: 'IBM Plex Sans', sans-serif;
  border-radius: 4px;
  background-color: #fcd535;
  font-size: 16px;
  font-weight: 500;
}
.start button:hover{
  background-color: #f0b90b;
}
.imgcntnr{
  padding: 0px 70px;
}
.img2{
  display: flex;
  height: 315px;
  width: 100%;
  background-color: #281a00;
  border-radius: 20px;
  padding: 40px;
  gap: 100px;
  align-items: center;
}
.bitimg img{
  height: 235px;
  width: 325px;
}
.bitcontent{
  display: block;
}
.bitcontent h2{
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 32px;
  font-weight: 600;
  color: #eaecef;
}
.bitcontent a{
  text-decoration: none;
  color: #eaecef;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 16px;
}
.bitcontent button{
  height: 48px;
  width: 240px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 4px;
  background-color: #fcd535;
}
.bitcontent button:hover{
  background-color: #f0b90b;
}

.heavycontent{
  width: 100%;
  padding: 100px 70px 150px 70px;
  display: flex;
}
.contentlist{
  width: 50%;
  height: auto;
  display: block;
}
.contentlist h1{
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 40px;
  font-weight: 600;
  color: #eaecef;
}
.contentlist p{
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 20px;
  color: #bcbdc6;
  padding-bottom: 60px;
}

.list1{
  display: flex;
  padding-bottom: 40px;
}
.list1 img{
  height: 80px ;
  width: 80px;
}
.list1un{
  list-style: none;
}
.list1un .l1{
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #eaecef;
  padding-bottom: 5px;
}
.list1un .l2{
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 16px;
  color: #b7bdc6;
}

.contentlist button{
  width: 200px;
  height: 48px;
  border: none;
  font-family: 'IBM Plex Sans', sans-serif;
  border-radius: 4px;
  background-color: #fcd535;
  font-size: 16px;
  font-weight: 500;
}
.contentlist button:hover{
  background-color: #f0b90b;
}
.phoneimg{
  width: 50%;
  height: auto;
  display: flex;
  justify-content: center;
}
.phoneimg img{
  height: 676px;
  width: 353px;
}
.cardhding{
  width: 100%;
  height: auto;
  padding: 0px 70px;
}
.cardhding h1{
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 40px;
  font-weight: 600;
  color: #eaecef;
}
.cardhding p{
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 20px;
  color: #b7bdc6;
}
.cards{
  width: 100%;
  height: auto;
  padding: 30px 70px 70px 70px;
}
.cardpack1{
  display: flex;
  justify-content: space-between;
}
.cardpack1 a{
  text-decoration: none;
}
.card1{
  height: 232px;
  width: 219px;
  border-radius: 16px;
  background-color:  #2b3139;
  display: block;
  padding: 24px 16px 24px 16px;
  margin-bottom: 24px;
}
.card1 img{
  height: 40px;
  width: 40px;
  margin-left: 70px;
  margin-bottom: 8px;
}
.card1 .para{
  margin-left: 65px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #eaecef;
  padding-top: 5px;
}
.card1 .para2{
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 16px;
  color: #eaecef;
  margin-left: 75px;
}
.card1 .para3{
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #0ecb81;
  margin-bottom: 8px;
}
.card1 i{
  background-color: #181a20;
  border-radius: 50%;
  height: 26px;
  width: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 75px;
}
.card1:hover{
  background: none;
  border: 2px solid #fcd535;
}
.card1 i:hover{
  background-color: #fcd535;
}
.cards button{
  width: 200px;
  height: 48px;
  border: none;
  font-family: 'IBM Plex Sans', sans-serif;
  border-radius: 4px;
  background-color: #fcd535;
  font-size: 16px;
  font-weight: 500;
  margin-top: 30px;
}
.cards button:hover{
  background-color: #f0b90b;
}
.explorehding{
  width: 100%;
  height: auto;
  padding: 80px 70px;
}
.explorehding h1{
  font-size: 40px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 600;
  color: #eaecef;
}
.imgcards{
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
  padding-bottom: 60px;
}
.imgcards a{
  text-decoration: none;
}
.imgcard1{
  width: 384px;
  height: auto;
  padding: 40px 24px 40px 24px;
  border-radius: 8px;
  background-color: #0b0e11;
  border: none;
  display: block;
}
.imgcard1 img{
  height: 217px;
  width: 336px;
}
.imgcard1 p1{
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 28px;
  font-weight: 600;
  color: #eaecef;
  padding-top: 140px;
  padding-bottom: 20px;
  display: block;
}
.imgcard1 p2{
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 16px;
  color: #eaecef;
}

.imgcard1 p3{
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 28px;
  font-weight: 600;
  color: #eaecef;
  display: block;
  padding-bottom: 10px;
}
.imgcard1 p4{
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 16px;
  color: #eaecef;
  display: block;
  padding-bottom: 102px;
}


.imgcard1 p5{
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 28px;
  font-weight: 600;
  color: #eaecef;
  display: block;
  padding-top: 215px;
  padding-bottom: 10px;
}
.imgcard1 p6{
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 16px;
  color: #eaecef;
  display: block;
}

.explorebtn button{
  width: 200px;
  height: 48px;
  border: none;
  font-family: 'IBM Plex Sans', sans-serif;
  border-radius: 4px;
  background-color: #fcd535;
  font-size: 16px;
  font-weight: 500;
}
.explorebtn button:hover{
  background-color: #f0b90b;
}



.trusthding{
  display: flex;
  padding: 60px 70px 10px 70px ;
  align-items: center;
}
.trusthding h1{
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 40px;
  font-weight: 600;
  color: #eaecef;
}
.trusthding a{
  margin-left: 550px;
  color: #848e9c;
  text-decoration: none;
  font-weight: 500;
}
.trusthding a:hover{
  color: #f0b90b;
}
.trustpara p{
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 20px;
  color: #b7bdc6;
  padding: 0px 70px 50px 70px;
}
.trust{
  width: 100%;
  height: auto;
  padding: 0px 70px;
  display: flex;
}
.trusttable{
  display: block;
  width: 50%;
  height: auto;
}
.trust .list1{
  display: flex;
}
.list1 img{
  height: 72px;
  width: 72px;
}
.listpara{
  display: block;
}
.listpara p{
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #eaecef;
  margin: 0px 0px 8px 24px;
}
.listpara p2{
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 16px;
  color: #b7bdc6;
  display: block;
  margin: 0px 0px 8px 24px;
}
.trustpic{
  margin-left: 24px;
}
.trustpic img{
  height: 330px;
  width: 588px;
}
.startbtn button{
  width: 200px;
  height: 48px;
  border: none;
  font-family: 'IBM Plex Sans', sans-serif;
  border-radius: 4px;
  background-color: #fcd535;
  font-size: 16px;
  font-weight: 600;
  margin-left: 70px;
  margin-top: 10px;
  color: #181a20;
}
.startbtn button:hover{
  background-color: #f0b90b;
}

.downhding{
  display: flex;
  padding: 60px 70px 10px 70px ;
  align-items: center;
}
.downhding h1{
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 40px;
  font-weight: 600;
  color: #eaecef;
}
.downhding a{
  margin-left: 300px;
  color: #848e9c;
  text-decoration: none;
  font-weight: 500;
}
.downhding a:hover{
  color: #f0b90b;
}
.downpara p{
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 20px;
  color: #b7bdc6;
  padding: 0px 70px 50px 70px;
}
.downloadoptions{
  width: 100%;
  height: auto;
  padding: 0px 70px;
  display: flex;
}
.picoption{
  width: 50%;
  height: 504px;
  display: flex;
  align-items: center;
}
.picoption img{
  height: 320px;
  width: 550px;
}
.multioptions{
  width: 50%;
  height: auto;
  display: block;
}
.qr{
  display: flex;
  justify-content: flex-end;
}
.qrsscanner{
  width: 520px;
  height: 122px;
  background-color: #0b0e11;
  border-radius: 8px;
  display: flex;
  padding: 16px;
  gap: 10px;
  align-items: center;
}
.qrsscanner img{
  height: 90px;
  width: 90px;
}
.qrpara{
  display: block;
}
.qrsscanner p1{
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 16px;
  color: #848e9c;
  display: block;
}
.qrsscanner p2{
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #eaecef;
}
.linkbtns{
  width: 100%;
  height: auto;
  padding: 0px 0px 0px 80px;
  display: flex;
  gap: 70px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.btn1{
  padding: 8px 0px 8px 0px;
  width: 100px;
  height: 74px;
  border-radius: 8px;
}
.btn1 i{
  font-size: 30px;
  color: #eaecef;
  margin-bottom: 8px;
  display: block;
  text-align: center;
}
.btn1 p{
  font-size: 14px;
  color: #eaecef;
  text-align: center;
}
.btn1:hover{
  background-color: #2b3139;
}
.helphding{
  width: 100%;
  height: auto;
  padding: 0px 70px;
  margin-top: 100px;
}
.helphding h1{
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 40px;
  font-weight: 600;
  color: #eaecef;
}
.helpcards{
  width: 100%;
  height: auto;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 100px;
}
.help1{
  display: flex;
  height: 160px;
  width: 405px;
  padding: 24px;
  gap: 20px;
}
.help1 img{
  height: 64px;
  width: 64px;
}
.helppara{
  display: block;
}
.helppara p1{
  display: block;
  font-size: 20px;
  font-weight: 600;
  color: #eaecef;
  padding-bottom: 10px;
}
.helppara p2{
  font-size: 14px;
  color: #b7bdc6;
  padding-bottom: 15px;
  display: block;
}
.helppara a{
  font-size: 14px;
  text-decoration: none;
  color: #f0b90b;
}
.foot{
  padding: 80px 0px;
  align-items: center;
}
.foot h1{
  font-size: 40px;
  font-weight: 700;
  color: #eaecef;
  text-align: center;
}
.footbtn{
  width: 100%;
  display: flex;
  justify-content: center;
}

.footbtn button{
  width: 200px;
  height: 48px;
  border: none;
  font-family: 'IBM Plex Sans', sans-serif;
  border-radius: 4px;
  background-color: #fcd535;
  font-size: 16px;
  text-align: center;
  font-weight: 500;
  margin-top: 40px;
}
.footbtn button:hover{
  background-color: #f0b90b;
}




@media only screen and ( min-width:320px) and (max-width:576px){
  .head{
    width: 100%;
    height: auto;
    background-color: #0b0e11;
  }
  .header{
    height: auto;
    width: 100%;
    border: 1px solid lightblue;
    display: block;
  }
  .leftbar{
    height: auto;
    width: auto;
    border: 1px solid yellow;
    display: block;
  }
  .leftbar h1{
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 600;
    color: #eaecef;
    padding-bottom: 30px;
  }
  .leftbar a{
    text-decoration: none;
    color: #eaecef;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 20px;
    display: block;
  }
  .buntn{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 15px;
    font-weight: 600;
    height: 45px;
    width: 63%;
    color: #0b0e11;
    border-radius: 4px;
    background-color: #fcd535;
    border: none;
    margin-top: 30px;
  }
  .buntn:hover{
    background-color: #fcd435ce;
  }
  .linebar{
    display: flex;
    margin-top: 20px;
  }
  .line1{
    background-color: #848e9c;
    height: 1px;
    width: 124px;
    margin-top: 13px;
  }
  .linecontent{
    padding: 0px 2px 0px 2px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 16px;
    font-weight: 500px;
    color: #848e9c;
  }
  .line2{
    background-color: #848e9c;
    height: 1px;
    width: 124px;
    margin-top: 13px;
  }
  .appbtns{
    display: flex;
    gap: 10px;
    margin-top: 20px;
  }
  .googlebtn{
    height: 48px;
    width: 180px;
    border: none;
    border-radius: 4px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 15px;
    font-weight: 600;
    background-color: #474d57;
    color: #eaecef;
  }
  .applebtn{
    height: 48px;
    width: 180px;
    border: none;
    border-radius: 4px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 15px;
    font-weight: 600;
    background-color: #474d57;
    color: #eaecef;
  }
  .rightbar{
    height: auto;
    width: auto;
    /* border: 1px solid rgb(255, 115, 0); */
    padding: 80px 0px 80px 60px;
    flex-wrap: wrap;
    display: block;
  }
  .rightbar img{
    height: 440px;
    width: 100%;
  }
  
}